* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: rgb(236, 187, 123);
}

.images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
}

.images>img {
    width: 25%;
    height: 300px;
    object-fit: cover;
}

.header {
    color: green !important;
    text-align: center;
    font-size: 50px;
    margin: 30px;
}

.main {
    padding: 20px;
}

.main>.line {
    height: 10px;
    margin: auto !important;
    width: 50%;
    background-color: rgb(2, 110, 2) !important;
}

.content>img {
    float: left;
    width: 40%;
    margin: 20px;
    border-radius: 20px;
}

.main>p {
    margin: 20px;
}

.content {
    margin-top: 20px;
}

@media only screen and (max-width: 568px) {
    .content > img {
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}